<div class="section" id="viewas">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">View In</div>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let item of viewAs">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="text-center">
            <figure>
              <a href="{{ item.captionLink }}">
                <img src="{{ item.imgUrl }}" alt="{{ item.imgAlt }}" height="150px" />
              </a>
              <figcaption>
                <div class="h5 text-center mt-2">{{ item.caption }}</div>
              </figcaption>
            </figure>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
