<div class="section" id="portfolio">
  <div class="container">
    <div class="h4 text-center mb-4 title">Portfolio</div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active">
        <div class="ml-auto mr-auto">
          <div class="row">
            <ng-container *ngFor="let item of getPortfolioData() | paginate: config">
              <div class="col-md-6 col-sm-12 project-{{ item.id }}" id="project_{{ item._key }}">
                <div class="card text-center">
                  <div class="card-header">
                    <h5 class="card-title">{{ item.name }}</h5>
                  </div>
                  <div class="project-image" style="background-image: url('{{ imageUrl(item.preview) }}');">
                    <!-- <img src="{{ imageUrl(item.preview) }}" width="100%" alt="{{ item.name }}" /> -->
                  </div>
                  <div class="card-footer">
                    <p class="card-text">{{ item.desc }}</p>
                    <p>
                      <kbd *ngFor="let skill of item.skills">
                        {{ skill }}
                      </kbd>
                    </p>
                    <div class="nav">
                      <a class="nav-link btn btn-sm" target="_blank" *ngIf="item.demo !== null" href="{{ item.demo }}">Demo</a>
                      <a class="nav-link btn btn-sm" target="_blank" *ngIf="item.source !== null" href="{{ item.source }}">Source</a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <pagination-controls
            previousLabel=""
            nextLabel=""
            (pageChange)="pageChanged($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>