<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div
        class="page-header-image"
        data-parallax="true"
        *ngIf="getConfig().background"
        style="background-image: url('{{ imageUrl(getConfig().background) }}'); background-size: cover;"
      ></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image" *ngIf="getConfig().avatar">
            <a href="#">
              <img src="{{ imageUrl(getConfig().avatar) }}" alt="Image" />
            </a>
          </div>
          <h1 class="h2 title">{{ data.name }}</h1>
          <p class="category text-white">{{ data.subtitle }}</p>
          <a
            class="btn btn-primary smooth-scroll mr-2"
            href="#contact"
            data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor"
            >Contact Me</a
          >
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="{{ getContactInfo()?.ln }}"
              target="_blank"
              rel="tooltip"
              title="Follow me on Linkedin"
            >
              <i class="fa fa-linkedin"></i>
            </a>
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="{{ getContactInfo()?.git }}"
              target="_blank"
              rel="tooltip"
              title="Follow me on Github"
            >
              <i class="fa fa-github"></i>
            </a>
            <!-- <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="{{ getContactInfo()?.tw }}"
              target="_blank"
              rel="tooltip"
              title="Follow me on Twitter"
            >
              <i class="fa fa-twitter"></i>
            </a> -->
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="#"
              target="_blank"
              rel="tooltip"
              title="Follow me"
            >
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
